<div class="query-header">
    <span class="title-text"></span>
    <div class="pull-right">
        {#- eat whitespace -#}
        <i class="fa fa-fw fa-spinner fa-spin preloader"></i>
        <span class="header-buttons">
            {#- eat whitespace -#}
            <button type="button" class="-fn-edit btn button" title="Abfrage bearbeiten"><i class="fa fa-fw fas fa-edit"></i><span class="sr-only">Abfrage bearbeiten</span></button>
            {#- eat whitespace -#}
            <button type="button" class="-fn-export btn button" title="Exportieren"><i class="fa fa-fw fas fa-download"></i><span class="sr-only">Exportieren</span></button>
            {#- eat whitespace -#}
            <button type="button" class="-fn-zoomtolayer btn button" title="Heranzoomen (Nur wenn Treffer vorhanden sind.)"><i class="fa fa-map-o"></i><span class="sr-only">Heranzoomen (Nur wenn Treffer vorhanden sind.)</span></button>
            {#- eat whitespace -#}
            <button type="button" class="-fn-visibility btn button" title="Abfrageergebnisse Anzeigen"><i class="fa fa-eye"></i><span class="sr-only">Abfrageergebnisse Anzeigen</span></button>
            {#- eat whitespace -#}
            <button type="button" class="-fn-delete btn button" title="Abfrage löschen"><i class="fa fa-remove"></i><span class="sr-only">Abfrage löschen</span></button>
            {#- eat whitespace -#}
        </span>
    </div>
    <div class="ui-helper-clearfix"></div>
</div>
<div class="query-content-panel">
    <div class="checkbox">
        <label><input type="checkbox" name="extent-only">{{ 'mb.search.onlyMapSection' | trans }}</label>
    </div>
    <div class="resultQueries">
    </div>
    <div style="display:none;" class="-tpl-query-table-buttons">
        <div class="buttons">
            {#- eat whitespace -#}
            <button type="button" class="-fn-zoomto button" title="{{ 'mb.search.feature.zoomTo' | trans }}"><i class="fa fa-crosshairs"></i><span class="sr-only">{{ 'mb.search.feature.zoomTo' | trans }}</span></button>
            {#- eat whitespace -#}
            <button type="button" class="-fn-bookmark button" title="{{ 'mb.search.feature.bookmark' | trans }}"><i class="fa fa-star"></i><span class="sr-only">{{ 'mb.search.feature.bookmark' | trans }}</span></button>
            {#- eat whitespace -#}
            <button type="button" class="-fn-toggle-visibility button" title="{{ 'mb.search.feature.toggleVisibility' | trans }}"><i class="fa fa-eye"></i><span class="sr-only">{{ 'mb.search.feature.toggleVisibility' | trans }}</span></button>
            {#- eat whitespace -#}
        </div>
    </div>
</div>
